footer {
  background: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  position: fixed;
  width: 100%;
  max-width: 390px;
}

.btn-footer {
  background: #41197f;
  border: none;
  border-radius: 50%;
  height: 45px;
}

footer button img {
  height: 30px;
  width: 60px;
}

@media only screen and (min-width: 400px) {
  footer {
    max-width: 380px;
  }
}
