header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.button-header {
  background-color: #fcdc36;
  border: none;
  cursor: pointer;
  width: 30px;
}

.header-container {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-around;
  width: 100%;
}

.header-container div {
  align-items: center;
  display: flex;
  gap: 13px;
  justify-content: space-around;
}

.title-container {
  align-items: center;
  border: none;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.title-container h1 {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  line-height: 20px;
  text-transform: uppercase;
}
