.img-title {
  border-radius: 0;
  filter: brightness(60%);
  height: 30vh;
  position: absolute;
  width: 100vw;
}

.recipe-details-container {
  color: #1a1b1c;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 30px;
  line-height: 20px;
  margin: 0 20px;
}

.recipe-details-container h2 {
  font-size: 23px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}

.recipe-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.recipe-header p {
  color: #fcc436;
  font-family: Epilogue , sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
}

.recipe-title {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  left: 35%;
  letter-spacing: 0.105em;
  line-height: 30px;
  margin: auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 23vh;
  width: 30vw;
  z-index: 1;
}

.content-recipe-container {
  margin-top: 27vh;
}

.ul-container {
  border: 0.55px solid #b1b1b1;
  border-radius: 5.35px;
  padding: 15px 5px;
}

.ul-container ul {
  margin: 0;
}

.instructions-container p {
  border: 0.55px solid #b1b1b1;
  border-radius: 5.35px;
  padding: 20px;
}

iframe {
  height: 300px;
  width: 90vw;
}

.recomend-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 80px;
}

.recomended {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  width: 95vw;
}

.start-recipe-btn {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-family: Epilogue , sans-serif;
  font-style: normal;
  font-weight: 700;
  left: 5vw;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  padding: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 90vw;
}

.none {
  display: none;
}

.recipe-top-btns {
  background: none;
  border: none;
}

.video-container {
  margin-bottom: 70px;
}
