.search-container {
  align-items: center;
  background-color: #41197f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  max-width: 370px;
  padding-top: 10px;
}

.search-input {
  background: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  height: 30px;
  padding: 20px;
  width: 90vw;
  max-width: 330px;
}

.search-second-container {
  align-items: center;
  background-color: #41197f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  max-width: 370px;
}

.radio-input-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: Epilogue , sans-serif;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  justify-content: space-between;
  line-height: 9px;
  width: 67vw;
  max-width: 350px;
}

.radio-input-container span {
  margin-left: 3px;
}

.search-button {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  width: 67vw;
  max-width: 360px;
}
